<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz para Estudiantes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark mb-4">
        <a href="/" class="navbar-brand">tRABAJO ESTUDIANTES</a> </nav>

        <div class="container">
            <div class="row">
                <!-- FORMULARIO -->
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-boy">
                            <form action="/edit/<%= task._id %>" method="POST">
                                <div class="form-group">
                                    <input type="text" name="nombres" placeholder="Nombre" class="form-control" value="<%= task.nombres %>">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="apellidos" placeholder="Apellidos" class="form-control" value="<%= task.apellidos %>">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="edad" placeholder="Edad" class="form-control" value="<%= task.edad %>">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="correo" placeholder="E - mail" class="form-control" value="<%= task.correo %>">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="direccion" placeholder="Direccion" class="form-control" value="<%= task.direccion %>">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="telefono" placeholder="Celular" class="form-control" value="<%= task.celular %>">
                                </div>
                                <button type="submit" class="btn btn-primary btn-block"> Update </button>
                            </form>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </body>
      </html>
